body {
    margin: 0px;
    padding: 0px
}

/*-------------------navigation bar ---------------------------*/

.container-fluid {
    background-color: white;
}

#img {
    width: 200px;
    height: 50px
}

#navbarNav ul li a {
    color: black;

}

/*-----------------first section-------------------------*/
.section1 {
    max-width: 1400px;
    margin: auto;
    margin-top: 90px;
    padding: 10px;
}

/*about our firm section*/
.about {
    max-width: 1400px;
    position: relative;
    height: 200px;
}

/*left section*/
.about .left {
    position: absolute;
    max-width: 45%;
    left: 0;
}

.about .left h1 {
    font-family: Plus Jakarta Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

/*right section*/
.about .right {
    position: absolute;
    max-width: 50%;
    right: 0;
    margin-top: 10px;
}

.about .right p {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/*div holding the butons*/
.about .right .divbtn a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

/*div holding the images*/
.images {
    max-width: 1300px;
    margin: auto;
    position: relative;
    height: 600px;
}

.images div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 24px;
}

/*image on the left*/
.images .leftimg {
    height: 450px;
    width: 60%;
    left: 0px;
    background-image: url("../images/Rectangle 4665.png");
}

/*img on the right*/
.images .rightimg {
    background-image: url("../images/Rectangle 46.png");
    border: solid 1px;
    height: 450px;
    width: 60%;
    right: 0px;
    bottom: 0;
}

/*take a look at our numbers section*/
.takesection {
    border: solid 1px red;
    margin-top: 150px;
}

.takesection h1 {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.takesection div {
    border: solid 1px green;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.takesection .numbers div {
    width: 300px;
    height: 300px;
    border: solid 1px;
}

.takesection .numbers div h2 {
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: italic;
    font-weight: 200;
    line-height: 100%;
    color: #F15A29;
}