body {
    padding: 0px;
    margin: 0px;
}
.containner{
    position: relative;
    width: 100%;
    height: 1000px;
}
.gt{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    position: relative;
}

.wsw{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}

.form23 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
}

.btnsub{
    padding: 15px;
    background: #5E3BEE;
    border-radius: 5.33333px;
    font-size: 20px;
    color: white;
    margin-top: 50px;
    border: solid 1px #5E3BEE;
    text-decoration: none;
}

.btnsub:hover{
    cursor: pointer;
    color: #5E3BEE;
    background-color: white;
}