body {
    margin: 0px;
    padding: 0px;
}

.content1 {
    background-color: black;
    height: max-content;
    padding-bottom: 100px;
}

.content11 {
    max-width: 1500px;
    padding: 0px 15px 0px 15px;
    margin: auto;
    position: relative;
}

/*------navigation bar ------------*/
#nav {
    background-color: black;
}

#img {
    width: 200px;
    height: 50px
}

#navbarNav ul li a {
    color: white;
}

/*--------------content-----------*/
.content11 {
    background-color: #070707;
}

.contenttop {
    height: 300px;
    padding-top: 60px;
}

/*left section*/
.left {
    position: absolute;
    width: 50%;
    height: 300px
}

.ltxt {
    color: white;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
}

label {
    color: #F15A29;
}

/*right section*/
.right {
    position: absolute;
    width: 40%;
    height: 300px;
    right: 0;
}

.rtxt {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: white;
    margin-top: 20px;
    text-transform: capitalize;
}

.fbtn {
    border: none;
    width: 140px;
    height: 58px;
    color: white;
    background: #F15A29;
    border-radius: 12px;
    margin-top: 20px;

}

.ratings {

    display: flex;
    flex-flow: wrap;
    justify-content: left;
    margin-top: 20px;
}

/*bottom content*/
.contentbottom {
    position: relative;
    max-width: 90%;
    margin: auto;
    margin-top: 70px;
}

.image {
    width: 100%;
    height: 400px;
    background-image: url(../images/luke-van-zyl-koH7IVuwRLw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-sizing: border-box;
}

/*search section*/
.d-flex {
    position: absolute;
    background-color: white;
    width: 400px;
    margin-left: 50px;
    padding: 5px;
    bottom: -20px;
    border-radius: 10px;
}

.d-flex input {
    border: none;
    outline: none;
}

.d-flex button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background-color: #F15A29;
    color: white;
    width: 250px;
    border: none;
}

.d-flex button:hover {
    background-color: #F15A29
}

.icc {
    color: #F15A29;
    margin-top: 5px;
}

/*-------second secion (Trusted by)------------------*/

.content2 {
    height: 170px;
    max-width: 1500px;
    margin: auto;
    position: relative;
}

.trust {
    position: absolute;
    width: 200px;
    margin-top: 60px;
    margin-left: 15px;
    color: var(--Neutral-800, #070707);
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
}

.comp {
    position: absolute;
    width: 80%;
    right: 15px;
    top: 60px;
    display: flex;
    flex-flow: wrap;
    justify-content: right;

}

.cmpl {
    margin-right: 60px;
}

.cmpl2 {
    margin: 0px;
}

/*------------third section (Popular resident)-------------*/

.content3 {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 1700px;
}

.ppr {
    margin-left: 15px;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.exp {
    position: absolute;
    right: 15px;
    top: 20px;
}

/*left section*/
.left3 {
    position: absolute;
    width: 45%;
    left: 15px;
}

/*right section*/
.right3 {
    position: absolute;
    width: 45%;
    right: 15px;
    margin-top: 150px;
}

/*card*/
.card {
    margin-top: 50px;
}

.line2 {
    border: 1px solid #070707;
    width: 100px;
    margin-bottom: 20px;
}

.line3 {
    opacity: 0.25;
    border: 1px solid grey;
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.card-link {
    width: 130px;
    margin: 0px;
}

/*--------------------what our clients say section-----------------------*/
.clienttt {
    background-image: url(../images/image22.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.clientt2 {
    position: relative;
    text-align: left;
    max-width: 1500px;
    margin: auto;
}

.wcs {
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.imghs {
    position: relative;
}

.imghs1 {
    background-image: url(../images/image44.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    border-radius: 10px;

}

#cardd {
    position: absolute;
    top: 25px;
    margin-left: 600px;
    max-width: 600px;
}

.card-text {
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

#prrf {
    background-image: url(../images/Ellipse198.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0px;
    float: left;
}

#prrf2 {
    margin-left: 90px;
    margin-top: 40px;
}

.gitcs {
    width: 200px;
    height: 100px;
    border: none;
    text-decoration: none;
    font-size: 20px;
    background-color: #F15A29;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 100px;
}

/*---------------div holding the help you find your dream home------*/
.help {
    height: 800px;
    position: relative;
    max-width: 1500px;
    margin: auto;
}

.helpics {
    position: absolute;
    background-image: url(../images/Group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 49%;
    height: 800px;
    left: 0;

}

.contenthelp {
    position: absolute;
    right: 0px;
    width: 49%;
    height: 400px;
    margin-top: 300px;
}

.contenthelp h1 {
    color: var(--Neutral-800, #070707);
    font-family: Plus Jakarta Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

.contenthelp p {
    margin-top: 30px;
    margin-bottom: 10px;
}

/*-------subscribe to the news letter section*--------*/
.news {
    position: relative;
    border: solid 1px red;

    height: 300px;
    background-color: #F15A29;
    color: white;
    border-radius: 15px;
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
}

.newsh1 {
    width: 400px;
    margin-top: 100px;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-left: 150px;
}

#dds {
    margin-bottom: 110px;
    height: 70px;
    width: 500px;
    margin-right: 150px;
}

/*--------------------------------------footer------------------------------------------*/
footer {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
    padding-top: 100px;
    margin-top: 200px;
}

/*left side of the footer*/
.footerleft {
    width: 350px;
    margin: 0px;
    margin-left: 50px;
}

.footerlogo {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;

}

.footerleft p {
    color: var(--Neutral-100, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
}

/*right side of the footer*/
.footerright {
    width: 500px;
    position: absolute;
    right: 20px;
    top: 70px;
    display: flex;
    flex-flow: wrap;
    justify-content: left;
}

.footermenu {
    width: 200px;
}

.footermenu h2 {
    color: var(--Neutral-100, #ffffff);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footermenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.footermenu ul li a {
    color: var(--Neutral-100, #dcdbdb);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footersocials {
    width: 200px;
    height: 300px;
}

.footersocials h3 {
    color: var(--Neutral-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footer3 {
    border-top: solid 1px rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
}

.footer3 p {
    color: var(--Neutral-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.footer3 p a {
    color: var(--Primary-Color, #F15A29);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
}

/*---------for screens less than 500px --------------------*/
@media screen and (max-width: 510px) {
    .conttainer {
        margin: 0px;
        max-width: 400px;
        margin: auto;
        position: relative;
    }

    #img {
        width: 150px;
        height: 40px;
    }

    #nav {
        max-width: 100vw;
        padding: 10px;
    }

    /*------content-----------*/
    .content1 {
        max-width: 100vw
    }

    .content11 {
        padding: 10px;
        max-width: 450px;
        margin: auto;
    }

    .left {
        margin: 0px;
        height: 150px;
    }

    .ltxt {
        font-size: 40px;
    }

    .right {
        margin-top: -100px;
    }

    .rtxt {
        font-size: 20px;
        margin: 0px;
    }

    .ratings {
        width: 150px;
    }

    .ratxt {
        width: 150px;
    }

    .d-flex {
        margin: 0px;
        bottom: -80px;
        margin-top: 100px;
        width: 100%;
        display: none;
    }

    /*bottom content first section*/
    .contentbottom {
        margin-top: 400px;
    }

    /*-------------div holding the second content-----------*/
    .content2 {
        height: 300px;
        max-width: 500px;
        margin: auto;
        padding: 10px;
    }

    .trust {
        margin: 0px;
    }

    .comp {
        right: 0px;
        top: 10px;
        max-width: 170px;
        margin: auto;
        text-align: center;
    }

    .cmpl {
        margin: 0px;
        margin-bottom: 20px;
    }

    #hrline {
        max-width: 350px;
        margin: auto;
    }

    #sftr img{
        width: 90px;
    }
    /*-------third section----------------------*/
    .content3 {
        max-width: 500px;
        margin: auto;
        height: 3500px;
    }

    .ppr {
        width: 200px;
    }

    .exp {
        display: none;
    }

    .left3 {
        position: relative;
        left: 0px;
        width: 100%;
        padding: 10px;
    }

    .right3 {
        position: relative;
        right: 0px;
        margin: 0px;
        width: 100%;
        padding: 10px;
    }

    /*--------------what our clients say-------------*/
    .clienttt {
        margin-top: 1200px;
    }

    #tdam {
        font-size: 25px;
        margin: 20px 0px 20px 0px;
    }

    #cardd {
        margin: 0px;
        width: 300px;
        margin: auto;
        left: 0px;
        right: 0px;
        top: -100px;
    }
    .imghs{
        padding: 0px;
        margin: 0px;
        margin: auto;
    }

    /* we will help you find your dream home-----*/
    .helpics{
        position: relative;
        max-width: 400px;
        height: 400px;
        margin: auto;
    }
    .tngs{
        display: none;
    }

    /*-------subscribe to news later----*/
    .news{
        border: solid 1px green;
        margin-top: 300px;
        max-width: 400px;
        margin: auto;
        padding: 10px;
        position: relative;
        height: 400px;
        margin-top: 400px;
        display: none;
    }

    .newsh1{
        margin-top: 0px;
        max-width: 400px;
        margin: auto;
        font-size: 30px;
        text-align: center;
    }

    #dds{
        position: relative;
        margin: 0px;
        right: 0;
        left: 0;
        padding: 0px;
        max-width: 250px;
        margin: auto;
        height: 150px;
        margin-top: -40px;
        background-color: #F15A29;
    }
    #me-2{
        position: absolute;
        margin: 0px;
        height: 50px;
        max-width: 300px;
        margin-top: 20px;
        text-align: center;
    }
    #dds button{
        position: absolute;
        height: 40px;
        margin: auto;
        margin-top: 90px;
        background-color: white;
        color: #070707;
    }

    /*--------footer-------------*/
    footer{
        margin-top: 50px;
        padding: 10px;
        height: fit-content;
        overflow: hidden;
    }

    .footerleft{
        margin: 0px;
    }

    .fooerlogo{
        width: 100px;
    }

    .footerright{
        position: relative;
        width: 300px;
        overflow: hidden;
        right: 0px;
        left: 0px;
        top: 30px;
    }

    .footermenu{
        margin-bottom: 30px;
    }
    .footer3{
        position: relative;
        margin: 0px;
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {

    .conttainer {
        max-width: 1000px;
        margin: auto;
    }

    /*-------content----------------*/
    .contenttop {
        height: fit-content;
    }

    .left {
        position: relative;
        width: 100%;
        margin-bottom: 100px;
    }

    .right {
        position: relative;
        width: 100%;
        margin-bottom: 100px;
    }

    /*----------div holding the second section-----------*/
    .trust {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .comp {
        position: relative;
        width: 100%;
        justify-content: center;
    }

    .cmpl {
        width: 100px;
        height: 40px;
    }

    /*---------------------third section (popular resident)----------------------*/

    .content3 {
        height: 1500px;
    }

    .card-link {
        width: 100px;
    }

    /*------------------what our clients say---------------------*/
    .clienttt {
        padding-left: 10px;
    }

    .clientt2 {
        height: 900px;
    }

    .imghs1 {
        width: 100%;
        margin: auto;
    }

    #cardd {
        margin: 0px;
        max-width: 600px;
        margin: auto;
        margin-top: 300px;
    }


    /*-----------------we will help you find your dream home section----------------------*/
    .help {
        height: fit-content;
        padding: 20px;
    }

    .helpics {
        position: relative;
        width: 100%;
    }

    .contenthelp {
        position: relative;
        width: 100%;
        margin-top: 100px;
    }

    /*----------subscribe to our news letter section-----------*/
    .newsh1 {
        width: 300px;
        margin-left: 50px;
        margin-top: 50px;
    }

    #dds {
        width: 450px;
        margin-right: 50px;
        margin-bottom: 130px;
    }
}