<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realty Web Solutions</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link
        href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'
        rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./js/home.js"></script>
</head>

<body>

    <!--div holding the whole page-->
    <div class="container2">

        <!--navigaion-->
        <div class="navigation">

            <!--logo-->
            <div class="logo">

            </div>


            <!--contact me button-->
            <a href="#contact" class="contactt">Contact me</a>

        </div>

        <!--header section-->
        <div class="header1">

            <div class="header">

                <!--left section-->
                <div class="left">

                    <!--content-->
                    <div class="content">

                        <p class="hi">Hey, I'm Max</p>
                        <h1 class="content1">I revamp <label>realtors'</label> online presence through expert web
                            development.
                        </h1>
                        <br><br>
                        <p class="content2">With majority of home buyers and sellers starting their search online, having
                            a
                            strong and visually appealing website is crucial for any real estate business. </p>

                        <br><br>
                        <!--link-->
                        <a href="#contact" class="getInTouch">Get In Touch</a>

                    </div>

                </div>

                <!--right side-->
                <!--picture-->
                <div class="right">
                    <!--profile picture-->
                    <img class="pic1" src="./images/profile.png" alt="">

                </div>

            </div>
        </div>


        <!--what I do section-->
        <div class="skills">

            <h1 class="sk2">Provided Services</h1>

            <!--showcase your skills-->
            <div class="showcase ">

                <!--New Realtors-->
                <div class="apiinter card" id="webdev" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">New Realtor</h5>
                        <br>
                        <p class="card-text">Designed for realtors who are just starting their careers and may not have
                            any listings yet.</p>
                        <p>
                            <button class="btn btn-primary collapsed" id="mrbtn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample2" aria-expanded="false"
                                aria-controls="multiCollapseExample2"> Learn more..</button>
                        <div class="row">
                            <div class="col">
                                <div class="multi-collapse collapse" id="multiCollapseExample2" style="">
                                    <div class="card card-body">

                                        <h5
                                            style="text-align: center; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 25px;">
                                            $500</h5>
                                        <ul class="">
                                            <li class="">1 - 3 page website (up to 3 pages)</li>
                                            <li class="">Social media integration</li>
                                            <li class="">Compatible with mobile devices</li>
                                            <li class="">Clear communication throughout the process</li>
                                            <li class="">Website maintenance & hosting for $30/month</li>
                                        </ul>

                                        <a href="/contact" class="gtstbtn">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Experienced Realtors-->
                <div class="apiinter card" id="webdev" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Experienced Realtor</h5>
                        <br>
                        <p class="card-text">Designed fo realtors with a truck record who want to ehance their online
                            presence or upgrade their existing website</p>

                        <!--dropdown toggle-->
                        <p>
                            <button class="btn btn-primary collapsed" id="mrbtn1" type="button"
                                data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false"
                                aria-controls="multiCollapseExample3">Learn more..</button>
                        <div class="row">
                            <div class="col">
                                <div class="multi-collapse collapse" id="multiCollapseExample3" style="">
                                    <div class="card card-body">
                                        <h5
                                            style="text-align: center; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 25px;">
                                            $1000</h5>
                                        <ul class="">
                                            <li class="">1 - 5 page website (up to 5 pages)</li>
                                            <li class="">Social media integration</li>
                                            <li class="">Compatible with mobile devices</li>
                                            <li class="">Mortgage calculator</li>
                                            <li class="">Blog integration</li>
                                            <li class="">Clear communication throughout the process</li>
                                            <li class="">Website maintenance & hosting for $30/month</li>
                                        </ul>

                                        <a href="/contact" class="gtstbtn">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Real estate Agency-->
                <div class="apiinter card" id="webdev" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Real Estate Agency</h5>
                        <br>
                        <p class="card-text">Designed for real estate agencies that require websites and digital solutions to represent their brand and showcase their listings.</p>

                        <!--dropdown toggle-->
                        <p>
                            <button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample4" aria-expanded="false"
                                aria-controls="multiCollapseExample4" id="mrbtn2">Learn more..</button>
                        <div class="row">
                            <div class="col">
                                <div class="multi-collapse collapse" id="multiCollapseExample4"
                                    style=" text-align: center;">
                                    <div class="card card-body">

                                        <p id="pio">Coming soon!</p>

                                        <!-- Button trigger modal -->
                                        <button class="gtstbtn" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">Join the waitlist</button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Join the
                                                            waitlist
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <p class = "error2" style="color: red;"></p>

                                                        <div class="form-floating">
                                                            <input type="email" ng-model="vm.waitlist.email"
                                                                class="form-control" id="floatingPassword"
                                                                style="border-color: #5E3BEE;">
                                                            <label for="floatingPassword">Email</label>
                                                        </div>

                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" id="jwl" class="btn btn-primary">Join
                                                            waitlist </button>
                                                            <i class="fa fa-circle-o-notch fa-spin" id="spin4" style="display: none;"></i>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!---About me sections-->
        <div id="about" class="about1">
            <br><br><br>
            <div class="about">
                <!--left side-->
                <div class="abtleft">
                    <div class="lftimg"></div>
                </div>

                <!--right side-->
                <div class="abtright">

                    <h1 class="abtme">About Me</h1>

                    <p class="txtabt">As a former property manager, I understand the
                        unique
                        challenges
                        faced by real estate agents when it comes to their online presence. That's why I offer a range
                        of services to help you
                        stand out in this competitive real estate market with customized solutions tailored to your
                        specific needs.</p>
                </div>

            </div>
            <br><br><br>

        </div>

        <!--contact me section-->
        <div id="contact" class="contact">

            <p class="gtin">Get In Touch</p>
            <h1 class="ctme">Contact Me</h1>
            <p class="lt">let's take your online presence to the next level.</p>

            <p class="error"></p>
            <!--form-->
            <form class="row g-3 ccrmform">
                <div class="col-md-6">
                    <label for="Fname" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Fname" ng-model="vm.contact.name">
                </div>
                <div class="col-md-6">
                    <label for="Lname" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="Lname" ng-model="vm.contact.email">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Type your message.."
                        ng-model="vm.contact.message"></textarea>
                </div>

        </div>
        <div class="col-12" id="btn3">
            <button type="submit" class="btnn3" id="sbtn">Message</button>
            <i class="fa fa-circle-o-notch fa-spin" id="spin3"></i>
        </div>
        </form>


        <br><br><br><br><br>
        <!--footer section-->
        <footer>
            <div class="footer">

                <!--logo-->
                <div class="ftlogo"></div>

                <!--social media links-->
                <div class="sociallinks">

                    <!--instagram link-->
                   <!--- <a class="inst" href="http://" target="_blank">
                        <img src="./images/instagram.png" alt="" srcset="">
                    </a>-->

                    <!--tiktok link-->
                    <a class="tiktok" href="https://www.tiktok.com/@realtywebsolutions" target="_blank">
                        <img src="./images/tiktok.png" alt="" srcset="">
                    </a>

                    <!--twitter lnk-->
                    <!--<a class="twitter" href="http://" target="_blank">
                        <img src="./images/twiter.png" alt="" srcset="">
                    </a>-->

                </div>
            </div>
        </footer>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>